.disServDet {
    width: 100%;
    margin-top: 100px;
}

    .disServDet .container {
        padding: 20px 100px 20px 100px;
    }

    .disServDet h3 {
        font-size: 30px;
        font-weight: 700;
    }

    .disServDet h4 {
        font-size: 16px;
        color: #7d7d7d;
    }

    .disServDet h5 {
        font-size: 16px;
        color: #7d7d7d;
    }

    .disServDet h3 span {
        color: #FE5959;
        font-weight: 700;
        font-weight: 700;
    }

    .disServDet .btn-find-now {
        margin-top: 10px;
        margin-right: 1px;
        line-height: 0;
        padding: 25px 30px;
        border-radius: 8px;
        transition: 0.5s;
        color: #fff;
        background: #FE5959;
        box-shadow: 0px 5px 30px rgba(255, 0, 0, 0.2);
    }

    .disServDet .btnView {
        margin-top: 10px;
        margin-right: 1px;
        line-height: 0;
        padding: 17px 30px;
        border-radius: 8px;
        transition: 0.5s;
        color: #fff;
        background: #FE5959;
        box-shadow: 0px 5px 30px rgba(255, 0, 0, 0.2);
    }

    .disServDet .btnContact {
        margin-top: 10px;
        margin-right: 1px;
        line-height: 0;
        padding: 17px 30px;
        border-radius: 8px;
        transition: 0.5s;
        color: #fff;
        background: #1BA100;
        box-shadow: 0px 5px 30px rgba(255, 0, 0, 0.2);
    }

    .disServDet .btn-find-now span {
        font-family: "PT Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .disServDet .btn-find-now i {
        margin-left: 5px;
        font-size: 18px;
        transition: 0.3s;
    }

    .disServDet .btn-find-now:hover i {
        transform: translateX(5px);
        font-size: 20px;
        transition: transform .5s;
    }

    .disServDet .btn-find-now span:hover {
        font-weight: 600;
        font-size: 22px;
        transition: 0.2s;
    }

    .disServDet .topline {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
    }

.disServDet {
    margin-bottom: 3%;
}

    .disServDet .reqDetailsLabel {
        font-size: 20px;
    }

    .disServDet .title {
        font-size: 22px;
        font-weight: 600;
    }

    .disServDet .rateStar {
        color: gold;
        font-size: 22px;
    }

    .disServDet .location {
        text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
        color: #7d7d7d;
    }

    .disServDet .serviceName {
        font-size: 32px;
        font-weight: 600;
    }

    .disServDet .serviceCatType {
        font-size: 16px;
        font-weight: 500;
    }

    .disServDet .addFav {
        width: 35px;
        height: 35px;
    }


    .disServDet .price {
        font-size: 20px;
        font-weight: 600;
    }

    .disServDet .remark {
        font-size: 16px;
        font-weight: 400;
    }

.rateStar::before {
    padding-bottom: 5px;
}

.disServDet .imgServicePic {
    width: 160px;
    height: 160px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
